*#
*.bak
*.cppproj
*.cxx
*.dat
*.gz
*.hex
*.json
*.log
*.lst
*.meta
*.MYD
*.o
*.php
*.pyc
*.pyproj
*.save
*.save.py
*.sln
*.xlsx
*.xml
*~
.#*
.gitattributes
.pioenvs/*
.piolibdeps/*
.scons*
_*
.idea/*
.pio/*
.sync/*
.vs/*
.vscode/*
.travis.yml
asm.sh
cpy.sh
cscope.*
Debug/*
ld32u4.sh
loadboot.sh
reset.sh
src/
termo.sh
tmp*
cmake-build-debug/*
cmake-build-mega2560/*
cmake-build-sparkfun_promicro16/*
